.subTitle {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.educationContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.educationLeftColumn {
    width: 30%;
    font-weight: bold;
}
.educationrRightColumn {
    width: 52.5%; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.education {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.educationPeriod{
    width: 30%;
    text-align: left;
}
.educationBachelor{
    width: 70%;
    text-align: left;
    font-weight: bold;
}
.experienceContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}
.experienceLeftColumn{
    width: 30%;
    font-weight: bold;
}
.experienceRightColumn{
    width: 52.5%; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
}
.experiencePeriod {
  width: 30%;
  text-align: left;
}
.experienceContent {
  width: 70%;
  text-align: left;
  font-weight: bold;
}
.experienceContent ol {
  text-align: left;
  font-weight: normal;
}
.technique {
  text-align: left;
  font-weight: normal;
}
.CKI{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.KGI{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.CRIF{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.FirstTech{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}