.sectionPadding {
    padding: 1rem 2rem;
}
.footer {
    background-color: #f5f4f4;
}
.sbFooter {
    display: flex;
    flex-direction: column;
}
.sbFooterAbout {
    text-align: center;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(0, 0, 0);
    white-space: nowrap; /* 禁止文字換行 */
    font-size: 20px;
}
.sbFooterAbout h2 {
    margin-top: -10px;
    margin-bottom: 5px;
}
.phoneNumber {
    margin-top: 0px;
    margin-bottom: 0px;
}