.headerSTY {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ecf0ed;
  padding: 15px 7%;
  box-sizing: border-box;
  color: #070707;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.44);
  z-index: 1000;
}
/* logo: 設定 logo 的樣式和大小，讓其具有點擊性 */
/* .logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
} */

/* .logoText {
    font-size: 30px;
    text-decoration: none !important;
    font-weight: bold;
    color: #6BCDD8 !important;
} */

/* ul: 設定導航列的樣式，將列表置中 */
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

/* ul li: 設定每個導航列項目的樣式，包含邊距和字體大小 */
ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* ul li a: 去掉下底線並改為 #FFB53D */
/* 將導航列的字體加粗並改成#FFB43D顏色 */
ul li a {
    text-decoration: none;
    color: #070707;
    /* font-weight: bold; */
}

/* ul li a:hover: 添加滑鼠懸停效果 */
ul li a:hover {
    color: #95a8aa;
}

/* user-actions: 設定用戶操作區域的樣式，包含 SVG 圖片按鈕 */
.user-actions {
    margin-right: 10px;
}

/* 媒體查詢：適用於螢幕寬度小於 850px 的情況，調整導航列字體大小 */
/* @media screen and (max-width: 850px) {
    ul li {
        font-size: 16px;
        margin: 8px 15px;
    }
} */

/* 媒體查詢：適用於螢幕寬度小於 550px 的情況，調整導航列佈局 */
/* @media screen and (max-width: 550px) {
    ul li {
        font-size: 14px;
        margin: 6px 10px;
    }

    .svgButton {
        padding: 5px;
        font-size: 14px;
    }

    .svgIcon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
} */

