.headerSTY {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ecf0ed;
  padding: 15px 7%;
  box-sizing: border-box;
  color: #070707;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.44);
  z-index: 1000;
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
    color: #070707;
}
ul li a:hover {
    color: #95a8aa;
}
.user-actions {
    margin-right: 10px;
}