.languageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}
.languageLeftColumn{
    width: 30%;
    font-weight: bold;
}
.languageRightContainer{
    width: 62%; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
}
.title {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.columnFontStyle {
    font-size: 20px;
    color: black;
}
.bar {
    width: 70%;
    background: #e0e0e0;
    height: 10px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.chineseBar {
    width: 100%;
    background: #181818;
    height: 100%;
    border-radius: 2px;
}
.englishBar {
    width: 80%;
    background: #181818;
    height: 100%;
    border-radius: 2px;
}
.taiwaneseBar {
    width: 60%;
    background: #181818;
    height: 100%;
    border-radius: 2px;
}
.hakkaBar {
    width: 50%;
    background: #181818;
    height: 100%;
    border-radius: 2px;
}
