.profolioContainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
.profolioLeftColumn{
  width: 30%;
  font-weight: bold;
}
.profolioRightColumn{
  width: 62%; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.card {
  position: relative;
  width: fit-content;
  display: inline-block;
}
.photo {
    width: 200px;
    height: 200px;
}
.FinancialLogoContainer{
  display: flex;
  justify-content: center;
}
.FinancialLogo{
    width: 80%;
    margin-bottom: 20px;
}
.MovieLogoContainer{
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.MovieLogo{
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.titleH4{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.firstInnerContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}
.firstInnerLeftColumn{
    width: 30%;
    font-weight: bold;
}
.firstInnerRightColumn{
    margin-right: 2vw;
    margin-left: 2vw;
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
}
.firstInnerRightColumn h4{
  margin-bottom: 0px;
}
.firstInnerRightColumn p{
 font-size: 20px;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.FinancialModalContent {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  height: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.FinancialModalContent ol{
  font-size: 19px;
}
.movieModalContent {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.movieModalContent ol{
  font-size: 20px;
}
.financialProjectLink {
  text-align: center;
  margin-top: 50px;
}
.financialProjectLink a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2071F7;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.financialProjectLink a:hover {
  background-color: #3e5a8bc4;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.movieProjectLink {
  text-align: center;
  margin-top: 50px;
}
.movieProjectLink a {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.movieProjectLink a:hover {
  background-color: #808388;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.closeButton {
  top: 12px;
  right: 16px;
  font-size: 28px;
  cursor: pointer;
  color: #000000;
  background-color: transparent;
  border: none;
  transition: color 0.2s ease;
  z-index: 1001;
}
.closeButton:hover {
  color: #989393;
  transform: scale(1.2);
}